.container {
  display: flex;
}
.navLeft {
  margin-top: 50px;
  flex-wrap: wrap;
}
.navLeft .el-menu-item {
  font-size: 12px;
}

.el-menu-item:focus,
.el-menu-item:hover {
  background-color: #fef0f0;
}
.navLeft .el-menu-item.is-active {
  color: red;
  background-color: pink;
}
.el-submenu__title:focus,
.el-submenu__title:hover {
  background-color: #fef0f0;
}

.content {
  flex: 1;
}

img {
  width: 160px;
  height: 220px;
  padding-right: 20px;
  margin-top: 20px;
}

.film {
  display: inline-block;
  position: relative;
  margin-left: 50px;
}

.filmName {
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #f0f2f5;
  white-space: nowrap;
}
.el-button {
  border-radius: 0px;
  width: 160px;
  margin-top: -5px;
}
